#listings
	%br
	#listing-title
		%h3
			Search &amp; Filter
	#search-box
		%input{:value => "Search jobs"}
	#filter-box
		%form
			%input{:type => "radio"}
				Engineering
			%input{:type => "radio"}
				Software
			%input{:type => "radio"}
				Startups
			%input{:type => "radio"}
				Consulting
			%br
			%br
			%input{:type => "submit", :value=>"Filter"}
	%br
	#listing-title
		%h3
			Job Listings
	- @listings.each_index do |i|
		- l = @listings[i]
		- if i % 2 == 0
			- classs = "highlight_odd"
		- else
			- classs = "highlight_even"
		#listing{:class => "#{classs}"}
			%h5 
				= link_to l.job.position, :controller => :listings, :action => :show, :id => l.id
			%h6
				= l.company.name
			%p
				= l.job.description
			#clear
#side-nav
	%br
	#ad-box
		%h5 Side-bar goes here
		%p Content and whatnot
	%br
	%br
	#ad-box
		%h5 Advertisements and more...
		%p Pictures or whatever
#clear
