#listings
	%br
	#listing-title
		%h3
			Search Listings
	#search-box
		- form_for @search, :url => url_for({ :controller => 'listings', :action => 'search' }) , :method => :post, :remote => :true do |f|
			%br
			= f.text_field :name_contains, :value => 'Search on Job Name', :class => :ajax
			= f.text_field :description_contains, :value => "Search on Job Description", :class => :ajax
			%br
			#submit	
				= f.submit :value => 'Search'
		#clear
	%br
	#results
		= render 'listings'
#side-nav
	%br
	#ad-box
		%h5 Side-bar goes here
		%p Content and whatnot
	%br
	%br
	#ad-box
		%h5 Advertisements and more...
		%p Pictures or whatever
#clear
