/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 48, ../src/screen.scss */
html, body {
  font-family: "Helvetica Neue", Arial Arial;
  font-size: 16px;
  background-color: #46914f;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
/* line 12, ../src/screen.scss */
html p, body p {
  padding: 5;
  line-height: 1.3em;
  font-weight: 200;
}

/* line 56, ../src/screen.scss */
#body-top {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 200px;
  background-color: #448c4c;
  z-index: -1;
}

/* line 65, ../src/screen.scss */
h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 225%;
}

/* line 65, ../src/screen.scss */
h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 200%;
}

/* line 65, ../src/screen.scss */
h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 175%;
}

/* line 65, ../src/screen.scss */
h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 150%;
}

/* line 65, ../src/screen.scss */
h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 125%;
}

/* line 65, ../src/screen.scss */
h6 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 200;
  font-size: 100%;
}

/* line 71, ../src/screen.scss */
.center {
  text-align: center;
}

/* line 74, ../src/screen.scss */
.highlight_even {
  background-color: #f6f5e5;
}

/* line 77, ../src/screen.scss */
.highlight_odd {
  background-color: #e2deac;
}

/* line 80, ../src/screen.scss */
.highlight_even p, .highlight_odd p {
  float: left;
}

/* line 83, ../src/screen.scss */
#header {
  width: 100%;
  min-width: 1000px;
  height: 200px;
  background-color: #1b1b1b;
}

/* line 89, ../src/screen.scss */
#footer {
  color: #ebebeb;
  background-color: #1b1b1b;
  position: relative;
  width: 100%;
  min-width: 1000px;
  color: #6c6c6c;
  height: 300px;
  top: -100px;
  clear: both;
  text-align: center;
}
/* line 99, ../src/screen.scss */
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer p {
  padding: 20px;
}

/* line 101, ../src/screen.scss */
#content-window {
  margin: 0px auto;
  color: #111111;
  background-color: #e9e9e9;
  border-right: 30px solid #e4e4e4;
  border-left: 30px solid #e4e4e4;
  position: relative;
  top: -100px;
  width: 900px;
  padding-bottom: 60px;
}
/* line 107, ../src/screen.scss */
#content-window p, #content-window h1, #content-window h2, #content-window h3, #content-window h4 {
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 114, ../src/screen.scss */
#content-border {
  margin: 0px auto;
  border-right: 10px solid #3e8046;
  border-left: 10px solid #3e8046;
  width: 960px;
}

/* line 119, ../src/screen.scss */
#two-column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 121, ../src/screen.scss */
#two-column p {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 125, ../src/screen.scss */
#canvas {
  margin: 0px auto;
  width: 500px;
}

/* line 129, ../src/screen.scss */
#page-title {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 900px;
  margin: 0px auto;
}
/* line 133, ../src/screen.scss */
#page-title img {
  float: left;
}
/* line 134, ../src/screen.scss */
#page-title h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 100;
}
/* line 139, ../src/screen.scss */
#page-title h2 {
  color: #ebebeb;
  background-color: #1b1b1b;
  position: relative;
  top: 30px;
  right: 50px;
  float: right;
  font-size: 27.2px;
  font-weight: 100;
}
/* line 148, ../src/screen.scss */
#page-title img {
  padding-right: 20px;
  padding-left: 20px;
}

/* line 152, ../src/screen.scss */
#listings {
  color: #111111;
  background-color: #e9e9e9;
  float: left;
  width: 600px;
}

/* line 157, ../src/screen.scss */
#listing {
  padding-right: 10px;
  padding-left: 10px;
}
/* line 159, ../src/screen.scss */
#listing h5 {
  float: left;
}
/* line 162, ../src/screen.scss */
#listing h6 {
  position: relative;
  float: right;
  right: 10px;
  top: 3px;
  font-variant: small-caps;
}
/* line 169, ../src/screen.scss */
#listing p {
  float: left;
}

/* line 173, ../src/screen.scss */
#side-nav {
  float: left;
  width: 300px;
}
/* line 174, ../src/screen.scss */
#side-nav h1, #side-nav h2, #side-nav h3, #side-nav h4, #side-nav h5, #side-nav h6 {
  text-align: center;
}

/* line 180, ../src/screen.scss */
#clear {
  clear: both;
}

/* line 183, ../src/screen.scss */
#ad-box {
  margin: 0px auto;
  text-align: center;
  width: 85%;
  background-color: #a0c4a4;
  height: 300px;
}

/* line 190, ../src/screen.scss */
#search-box {
  width: 600px;
  background-color: #c4a0c0;
}

/* line 194, ../src/screen.scss */
#search-box #submit {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

/* line 199, ../src/screen.scss */
#search-box .ajax {
  position: relative;
  top: 7px;
  left: 54px;
  width: 480px;
  font-size: 17.6px;
  color: #6c6c6c;
}

/* line 207, ../src/screen.scss */
#filter-box {
  width: 600px;
  background-color: #bfd8c2;
  text-align: center;
  height: 100px;
}
/* line 212, ../src/screen.scss */
#filter-box form {
  padding: 20px;
}

/* line 216, ../src/screen.scss */
#listing-title {
  width: 600px;
  height: 55px;
  color: #c5c5c5;
  background-color: #353535;
}
/* line 220, ../src/screen.scss */
#listing-title h1, #listing-title h2, #listing-title h3, #listing-title h4, #listing-title h5, #listing-title h6 {
  position: relative;
  text-align: center;
  font-weight: 100;
  top: 0px;
}
