$ideal-font : "Helvetica Neue", Arial;
$alt-font : Arial;
$base-font-size : 16px;
$readable-weight : 200;

$light-font : #EBEBEB;
$highlight  : #C5d6D2;
$highlight  : #A0C4A4;
$sand       : #E2DEAC;
$dark-font : #111;
$dark-background : #1B1B1B;
$light-background : #E2E1E1;
$content-background : #E9E9E9;
$primary-background : #CC3F32;
$primary-background : #46914F;

$page-width : 900px;
$header-height : 200px;
$footer-height : 300px;

$border-width : 30px;
$border-color : #D8D7D4;

@import "compass/reset";
@import "compass";



