/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
@import "border-radius";
@import "compass/css3/columns";
@mixin pretty-text {
	font-family : $ideal-font $alt-font;
	font-size : $base-font-size;
	p { 
		@include padding(1); 
		line-height : 1.3em;
		font-weight : $readable-weight;
	}
}
@mixin light-on-dark {
	color: $light-font;
	background-color: $dark-background;
}
@mixin dark-on-light {
	color : $dark-font;
	background-color : $content-background;
}

@mixin side-border($w,$c) {
	border-right: $w solid $c;
	border-left: $w solid $c;
}
@mixin height-pad($i){
	padding-top : $i;
	padding-bottom : $i;
}
@mixin side-pad($i) {
	padding-right : $i;
	padding-left : $i;
}
@mixin side-margin($i){
	margin-left : $i;
	margin-right : $i;
}
@mixin padding($i) { padding: $i * 5; }
@mixin centered {
	margin : 0px auto;
}

html,body{
	@include pretty-text;
	background-color : $primary-background;
	height : 100%;
	min-height : 100%;
	padding : 0;
	margin : 0;
}
#body-top{
	position:absolute;
	width:100%;
	height:350px;
	top:$header-height;
	background-color : darken($primary-background,1.5%);
	z-index:-1;
}
@for $i from 1 through 6 {
	h#{$i} { 
		@include height-pad(10px);
		font-weight: 200;
		font-size : 100% + (6 - $i) * 125% / 5;
	}
}
.center {
	text-align : center;
}
.highlight_even{
	background-color: lighten($sand, 15%);
}
.highlight_odd{
	background-color: $sand;
}
.highlight_even p, .highlight_odd p {
	float : left;
}
#header {
	width : 100%;
	min-width: 1000px;
	height: $header-height;
	background-color : $dark-background;
}
#footer {
	@include light-on-dark;
	position : relative;
	width : 100%;
	min-width: 1000px;
	color : darken($light-font, 50%);
	height : $footer-height;
	top : -100px;
	clear : both;
	text-align : center;
	h1,h2,h3,h4,h5,h6,p { padding : 20px; }
}
#content-window {
	@include centered;
	@include dark-on-light;
	@include side-border($border-width,darken($content-background,2%));
	position : relative;
	top : -100px;
	p, h1, h2, h3, h4 { 
		@include side-pad(2px); 
		@include height-pad(10px);
	}
	width : $page-width;
	padding-bottom: 60px;
}
#content-border{
	@include centered;
	@include side-border($border-width / 3,darken($primary-background,5%));
	width : $page-width + (2 * $border-width);
}
#two-column{
	@include column-count(2);
	p { @include side-pad(0px); }
	@include side-pad(100px);
	@include height-pad(10px);
}
#canvas{
	@include centered;
	width:500px;
}
#page-title{
	@include height-pad(10px);
	width : $page-width;
	margin : 0px auto;
	img { float : left; }
	h1{
		text-align : center;
		font-size : $base-font-size * 4;
		font-weight : 100;
	}
	h2{
		@include light-on-dark;
		position : relative;
		top : 30px;
		right : 50px;
		float : right;
		font-size : $base-font-size * 1.7;
		font-weight : 100;
	}
	img{
		@include side-pad(20px);
	}
}
#listings{
	@include dark-on-light;
	float : left;
	width : 2 * ($page-width / 3);
}
#listing{
	@include side-pad(10px);
	h5 { 
		float : left; 
	}
	h6 {
		position : relative;
		float : right;
		right : 10px;
		top : 3px;
		font-variant : small-caps;
	}
	p {
		float : left;
	}
}
#side-nav{
	h1,h2,h3,h4,h5,h6{
		text-align: center;
	}
	float: left;
	width : $page-width / 3;
}
#clear{
	clear : both;
}
#ad-box{
	@include centered;
	text-align : center;
	width : 85%;
	background-color : $highlight;
	height : 300px;
}
#search-box{
	width : 2 * ($page-width / 3);
	background-color : complement($highlight);
	height : 50px;
}
#search-box input{
	position : relative;
	top : 7px;
	left : 0.18 * ($page-width / 3);
	width : 1.6 * ($page-width / 3);
	text-align : center;
	font-size : $base-font-size * 1.1;
	color : darken($light-font, 70%);
}
#filter-box{
	width : 2 * ($page-width / 3);
	background-color : lighten($highlight,10%);
	text-align : center;
	height : 100px;
	form {
		padding : 20px;
	}
}
#listing-title{
	width : 2 * ($page-width / 3);
	height : 55px;
	color : darken($light-font, 15%);
	h1,h2,h3,h4,h5,h6 {
		position : relative;
		text-align : center;
		font-weight : 100;
		top : 0px;
	}
	background-color : lighten($dark-background, 10%);
}
	
