!!!
%html
	%head
		= stylesheet_link_tag 'screen'
		= stylesheet_link_tag 'print'

	%title JobForrest | Find jobs for Virginia Grads
	%body
		#header
			#page-title
				=link_to "#{image_tag 'jobforrest_white.png',:width=>"300px"}", root_url
				%h2 Find jobs for Virginia grads
				#clear
		#body-top
		#content-border
			#content-window
				= yield
		#footer			
			%h6 Copyright JobForrest 2010
			#clear		
