!!!
%html
	%head
		= stylesheet_link_tag 'screen'
		= stylesheet_link_tag 'print'

	%title Nokree
	%body
		#header
		#body-top
		#content-border
			#content-window
				#page-title
					= image_tag 'jobforrest.png',:width=>"300px"
					%h2 Find jobs for Virginia grads
					#clear
				= yield
		#footer			
			%h6 Copyright JobForrest 2010		
